/* IMAGE DRAG */
[fcx-drag="area"] {
    width: 100%;
    min-height: 200px;
    border: 1px dashed #666;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: background 0.2s;
    position: relative;
    overflow: hidden;
}

[fcx-drag="area"].hover {
    background: #f0f0f0;
}

[fcx-drag="area"] img {
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

[fcx-drag="area"] span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #666;
    text-align: center;
}
